.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 20px;
  }

  .logo {
    width: 304px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 30px;
  }


